body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container {
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: -200px;
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2em; */
    border-radius: 60px;
    width: 27em;
    height: 30px;
    border: 0px solid rgb(255, 255, 255);
    padding: 5px 0 5px 0px;
}

.fake-searchbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 60px;
    width: 27em;
    height: 42px;
    border: 1px solid rgb(218, 218, 218);
}

.fake-searchbox:hover {
    box-shadow: 0 0 5px rgb(180, 180, 180);
}

#search-box::placeholder {
    color: rgb(151, 151, 151);
}

input:focus {
    outline:none;
}

.mag {
    float: left;
    margin-top: 12px;
    margin-left: 5px;
    max-width: 32px;
}

.ttx {
    float: right;
    margin-top: -32px;
    margin-right: 12px;
    max-width: 19px;
}

.head-links {
    text-decoration: none; 
    color: rgb(34, 34, 34);
    margin-left: 10px;

}

.sign-in {
    background: rgb(0, 119, 255);
    color: white;
    text-decoration: none;
    border: 8px solid rgb(0,119,255);
    border-radius: 3px;
    float: right;
    margin-top: -7px;
    margin-right: 10px;
    font-weight: bold;
}

.rhead{
 float: right;
 padding-right: 20px;
}


header {
    display: block;
    margin-top: 25px;
    height: 40px;
    font-size: 13px;
}

footer {
    position: fixed;
    display: block;
    margin-top: 220px;
    width: 100%;
    height: 40px;
    background-color: rgb(233, 233, 233);
    padding-top: 15px;
    border-top: 1px solid rgb(194, 194, 194);
    font-size: 13px;
    font-weight: bold;
}

button {
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    color: gray;
    border-radius: 5px;
    
}

#containerb {
    text-align: center; 
}

.gs {
    margin-right: 20px;
}
