IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 60px;
    width: 20em;
    height: 30px;
    border: 1px solid rgb(235, 235, 235);
}

#search-box:hover {
    box-shadow: 0 0 2px rgb(129, 129, 129);
    
}